node_modules
dist
.expo
app/android/
app/ios/
.openai-key
server/**/__pycache__/
app/watermelon.db
.idea

**/jest-results.json
server/analytics.json
server/telemetry.json
app/coverage/
coverage/
server/coverage/
integration/test-output.log
analysis_output/
